.content {
    width: 90%;
    margin: 1.4rem auto auto auto;
}

.title h1 {
    font-size: 15px;
    font-weight: 500;
}

.title {
    text-align: center;
    margin-bottom: 3rem;
}

button {
    margin-bottom: .8rem;
}

.table {
  width: 100%;  
  background-color:#575757;
  font-size: .5rem;
  box-shadow:  1px 1px 3px rgb(54, 54, 54);
}

.livros {
    color: rgb(25, 25, 124);
    margin-left: .6rem;
}

.edit {
    color: rgb(167, 167, 93);
}

.delete {
    color: rgb(173, 79, 79);
}

.mat-header {
    width: 5rem;
}